img{
  display:inline-block;
}
body{
  margin:0;
  padding:0;
  font-family: "Times New Roman", Times, serif;
  background-image: url(../images/sun-pattern.png);
}
h1{
  font-style: bold;
}
.picgallary{
  display:flex;
  justify-content:center;
}
.image1, .image2{
  border:5px solid blue;
  padding:5%;
  height:100%;
  /* float: left; */
  overflow: hidden;
}
.btnstyle{
  border-radius: 5px;
}

.imgs{
  display:inline-block;
  /* float: left; */
}

#img1, #img2. {
  margin:0;
  padding:0;
  float:left;
}
